// app global css in SCSS form

// app global css in SCSS form
@import "./cards.css";
@import "./quasar.variables.scss";

.q-field__native,
.q-placeholder {
  color: white;
}

.playingCards .card {
  background: white;
  color: black;
}
//@import url(https://fonts.googleapis.com/css?family=Inter);

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../assets/fonts/inter-v11-latin/inter-v11-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter-v11-latin/inter-v11-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-500 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../assets/fonts/inter-v11-latin/inter-v11-latin-500.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter-v11-latin/inter-v11-latin-500.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-600 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../assets/fonts/inter-v11-latin/inter-v11-latin-600.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter-v11-latin/inter-v11-latin-600.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../assets/fonts/inter-v11-latin/inter-v11-latin-800.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/fonts/inter-v11-latin/inter-v11-latin-800.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  background-image: url("../assets/blackjack-background.svg");
  background-repeat: repeat;
  font-family: "Inter", serif;
  color: white;
}

.pointer {
  cursor: pointer;
}
